* {
  /* border: 1px solid grey; */
}

/* ----- INTRO ----- */
.intro {
  line-height: 3rem;
}

/* ----- ROOTS ----- */
.roots-text {
  text-align: center;
  margin: 20rem;
  /* padding: 2rem; */
}
.roots-img {
  max-width: max-content;
  margin-top: 2rem;
}

/* ----- SOCIALS ----- */
.socialsContainer {
  display: flex;
  justify-content: space-around;
}
.socialIcon {
  margin-left: 1rem;
  margin-right: 1rem;
}

/* ----- ABOUT CONTAINER ----- */
.about-container {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
}
.aboutlinks-container {
  display: flex;
  flex-direction: column;
  padding: 10rem 2rem 2rem 2rem;
  line-height: 5rem;
  border-right: 3px solid black
}
.contactButton {
  padding: 1rem;
  margin: 1rem;
  border-radius: 7%;
}

/* -----ABOUTINFO ----- */
.aboutInfo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.aboutInfo-container h3 {
  margin-top: 1rem;
}
.aboutInfo-container p {
  width: 40%;
  
}
.najPhoto {
  width: 18%;
  border-radius: 50%;
  margin: 1.5rem 1.5rem;
}

/*----- OTHER LINKS ----- */
.other-links-container {
  /* background-color: #ffffff; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 10rem;
  padding: 2rem;
}

/* -----PROJECTS ----- */
