* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
  /* border: 1px solid grey; */
}
/* general styles */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
  line-height: 1.5;
  color: #4f4f4f;
  font-family: "PT Sans", sans-serif;
  background-color: #ffffff;

  margin: 0 auto;
  background-repeat: no-repeat;
  display: flex;
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 3px;
  font-family: "Nunito", sans-serif;
  text-align: center;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
section {
  padding: 4% 0;
  /* max-width: 32%; */
}
a {
  text-decoration: none;
  letter-spacing: 3px;
  color: #4f4f4f;
  font-family: "PT Sans", sans-serif;
}
a:hover {
  color: #4aab00;
}

/* ---------------------------END OF RESET----------------------------- */

.App {
  display: flex;
  flex-direction: row;
  color: #feb239;
  /* background-color: #feb239; */
  background-image: url("https://i.ibb.co/1vLLJwL/grass-background-1.jpg");
  /* background-image: url("https://i.ibb.co/S0SDL44/grassland-tree-background.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}
/* ----- FLOWER BORDER ----- */
.section1 {
}

.flower-border-img {
  max-width: fit-content;
}


/* -----HOMELINKS ----- */

.homelinks-container {
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 10rem;
  margin-top: -65%;
}

.homelinks {
  color:#feb239;
  font-weight: 900;
}

/* ----- SEEDLINGS ----- */
.section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  margin-bottom: 2rem;
}
.intro h3{
  margin-top: 5rem;
}
.intro-p {
  margin: 5rem 5rem 5rem 1rem;
  padding: 1rem;
}
.growth {
  text-align: center;
}
.seedling-img {
  max-width: max-content;
  margin-bottom: 2rem;
  margin-top: -10rem;
}

/* ----- SUNSHINE ----- */
.section3 {
}
.sunshine-img {
  max-width: min-content;
  margin-top: -15rem;
  
}

